/* RESPONSIVE CSS
-------------------------------------------------- */
@media (hover: hover) and (min-width: 600px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1850px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2300px) {
}

@media (min-width: 2500px) {
}

@media screen and (max-width: 767px) {
.mobile-hide { display: none; }
.web-hide { display: block !important; }
.mobile-display-inline-block { display: inline-block !important; }
/*~~~~~~~~~~~~~~ GLOBAL STYLES End ~~~~~~~~~~~~~~*/ 

/*~~~~~~~~~~~~~~ Header Start ~~~~~~~~~~~~~~*/ 
.mobile-header-navbar { position: static; }
.mobile-header-navbar { display: block !important; }
.mobile-top-header { align-items: center; display: flex; justify-content: space-between; }
.mobile-top-header .logo { margin-left: 67px; }
.mobile-top-header .logo .navbar-brand { margin-right: 0; padding-bottom: 0; padding-top: 0; }
.mobile-top-header .top-nav { height: 24px; list-style: none; margin-bottom: 0; padding: 0; }
.mobile-top-header .top-nav li { float: left; margin-right: 21px; }
.mobile-top-header .top-nav li a { display: block; line-height: 24px; }
.mobile-top-header .top-nav li a .fa { color: #002855; font-size: 20px; position: relative; top: 2px; }
.mobile-header-navbar .bottom-header { background: #C6DEDE; border-top: none; color: #002855; font-size: 14px; font-weight: 500; padding: 14px 30px; text-align: center; }
.navbar-collapse { background: #EFF5F5; border-top: 1px solid #D1D1D1; bottom: 0; display: block !important; left: -100%; position: absolute; top: 58px; width: 100%; z-index: 2; }
.navbar-collapse.show { left: 0; }
.navbar-collapse .navbar-nav { display: none; }
.navbar-collapse .watches-btn { display: block; left: 0; position: relative; right: 0; top: 0; }
/*~~~~~~~~~~~~~~ Header End ~~~~~~~~~~~~~~*/ 

.inner-banner img { height: 224px; object-fit: cover; }
/*~~~~~~~~~~~~~~ Banner End ~~~~~~~~~~~~~~*/ 

.arrivalBanner { background-position: 0 0; height: 362px }
.newArrivalBanner .arrivalHolder { float: right; width: 52%; }
.arrivalBanner img { height: auto; width: 104px; }
.arrivalBanner h3 { font-size: 16px; margin-bottom: 20px; margin-top: 20px; text-transform: uppercase; }
.arrivalBanner a { font-size: 10px; line-height: 24px; padding: 0 23.7px; }
/*~~~~~~~~~~~~~~ Body Bottom Banner End ~~~~~~~~~~~~~~*/ 

/*~~~~~~~~~~~~~~ Footer Start ~~~~~~~~~~~~~~*/
.top-footer { margin-bottom: 20px; padding-bottom: 45px; padding-top: 40px; text-align: center; }
.top-footer .footer-logo { margin-bottom: 20px; }
.footer-news-list { display: block; margin-top: 20px; }
.footer-news-list li { margin-right: 0; }
.footer-news-list li label { margin-bottom: 20px; }
.footer-news-list li .form-control { width: 100%; }
.midFooter { padding-bottom: 0; }
.midFooter .row { margin-left: 0; margin-right: 0; }
.midFooter .footer-menu h3 { font-size: 15px; margin-bottom: 10px; }
.midFooter .footer-menu { border-bottom: 1px solid #E9E9E9; -ms-flex: 0 0 100%; flex: 0 0 100%; margin-bottom: 20px; max-width: 100%; padding-left: 0; padding-right: 0; }
.midFooter .footer-menu ul li { font-size: 14px; margin-bottom: 5px; }
.bottomFooter { border-top: none; padding-top: 0; }
.bottomFooter .left-bottom-footer { margin-bottom: 0; padding-left: 0; padding-right: 0; }
.bottomFooter .left-bottom-footer li { margin-bottom: 15px; margin-right: 0; text-align: center; width: 100%; }
.bottomFooter .left-bottom-footer li:nth-child(2) { padding-right: 7.5px; width: 50%; }
.bottomFooter .left-bottom-footer li:nth-child(3) { padding-left: 7.5px; width: 50%; }
.bottomFooter .left-bottom-footer li a { display: block; text-align: center; }
.bottomFooter .left-bottom-footer li a img { height: auto; width: 100%; }
.bottomFooter .right-bottom-footer li { margin-left: 10px; margin-right: 10px; }
.bottomFooter .right-bottom-footer li img { width: 32px; }
/*~~~~~~~~~~~~~~ Footer End ~~~~~~~~~~~~~~*/
}