
/*================================== Cart Body Start ==================================*/
.cart-sec { padding-bottom: 104px; padding-top: 88px; }
.cart-sec .container { max-width: 1440px; }
.cart-sec h3 { color: #002855; font-size: 42px; font-weight: 400; margin: 0 0 20px 0; text-transform: uppercase; }
.cart-sec h4 { color: #002855; font-size: 24px; font-weight: 400; margin: 0 0 20px 0; text-transform: uppercase; }
.left-cart-sec .cart-list { list-style: none; margin-bottom: 0; padding-left: 0; }
.left-cart-sec .cart-list li .card { background-color: #fff; border: none; border-radius: 0; margin-bottom: 16px; padding:  32px 24px 40px 24px; }
.left-cart-sec .cart-list li .card .cart-table-sec .table { margin-bottom: 0; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td { border-top: none;  padding: 0; vertical-align: middle; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td img { height: auto; max-height: 86px; max-width: 127px; width: auto; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td .price-spna { color: #002855; display: inline-block; font-size: 18px; font-weight: 600; line-height: 24px; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td .qty-text-span { color: #002855; float: left; font-size: 16px; font-weight: 400; line-height: 24px; margin: 6px 12px 0 0; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td h3 { color: #002855; font-size: 24px; font-weight: 400; margin: 0 0 5px 0; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td h4 { color: #002855; font-size: 16px; font-weight: 500; margin: 0; text-transform: uppercase; }
.left-cart-sec .cart-list li .card .cart-table-sec .table td p { color: #002855; font-size: 16px; font-weight: 400; line-height: 24px; margin: 0 0 8px 0; }
.left-cart-sec .cart-list li .card .size-list { float: left; list-style: none; margin: 30px 0 0 0; padding: 0; width: 100%; }
.left-cart-sec .cart-list li .card .size-list li { float: left; margin-right: 16px; position: relative; }
.left-cart-sec .cart-list li .card .size-list li .radioInput { appearance: none; cursor: pointer; height: 100%; opacity: 0; position: absolute; width: 100%; }
.left-cart-sec .cart-list li .card .size-list li .quantity-text a { border: 1px solid #002855; border-radius: 30px; color: #002855; display: block; font-size: 12px; font-weight: 400; letter-spacing: 0.06px; line-height: 37px; padding: 0 24px; text-transform: uppercase; text-decoration: none;}
.left-cart-sec .cart-list li .card .size-list li .quantity-text a:hover { background: #002855; color: #fff; }
.left-cart-sec .cart-list li .card .size-list li .radioInput:checked ~ .quantity-text { background-color: #002855; color: #fff; }
.left-cart-sec .btn-button-list { list-style: none; padding-left: 0; }
.left-cart-sec .btn-button-list li .btn-primary { background: #002855; border: 2px solid #002855; border-radius: 30px; font-size: 13px; font-weight: 400; letter-spacing: 0.065px; line-height: 52px; padding: 0; text-transform: uppercase; width: 100%; }
.left-cart-sec .btn-button-list li .btn-primary:hover { background: #fff; color: #002855; }
.left-cart-sec .btn-button-list li .btn-default { background: #fff; border: 2px solid #002855; border-radius: 30px; color: #002855; font-size: 13px; font-weight: 400; letter-spacing: 0.065px; line-height: 52px; padding: 0 48px; text-transform: uppercase; width: 100%; }
.left-cart-sec .btn-button-list li .btn-default:hover { background: #002855; color: #fff; }

.right-cart-sec .white-inner-sec { background-color: #fff; float: left; /*height: 100%;*/ margin: 0; padding: 32px 32px 0 32px; width: 100%; }
.right-cart-sec .right-cart-list { float: left; list-style: none; padding-left: 0; width: 100%; }
.right-cart-sec .right-cart-list li { border-bottom: 1px solid #D5D5D5; float: left; margin: 0 0 20px 0; padding: 0 0 15px 0; width: 100%; }
.right-cart-sec .right-cart-list li:last-child { border-bottom: none; }
.right-cart-sec .right-cart-list li h5 { color: #002855; font-size: 24px; font-weight: 400; margin: 50px 0 5px 0; text-transform: uppercase; }
.right-cart-sec .right-cart-list li .form-control { background-color: #fff; border: 1px solid #B8BBC5; border-radius: 40px; color: #002855; float: left; font-size: 15px; font-weight: 400; height: 56px; line-height: 54px; margin-bottom: 4px; margin-top: 8px; padding: 0 24px; }
.right-cart-sec .right-cart-list li .heading-table { margin-bottom: 0; }
.right-cart-sec .right-cart-list li .heading-table th { border-top: none; padding: 0; }
.right-cart-sec .right-cart-list li .heading-table th h4 { color: #002855; font-size: 16px; font-weight: 600; line-height: 24px; margin: 0 0 8px 0; text-transform: none; }
.right-cart-sec .right-cart-list li .heading-table th p { color: #002855; font-size: 16px; font-weight: 400; line-height: 24px; margin:  0 0 0 0; }
.right-cart-sec .right-cart-list li .heading-table td { border-top: none; padding: 0; }
.right-cart-sec .right-cart-list li .heading-table td:nth-child(2) { text-align: right; vertical-align: middle; }
.right-cart-sec .right-cart-list li .promo-list { float: left; list-style: none; margin-bottom: 4px; margin-top: 8px; padding-left: 0; width: 100%; }
.right-cart-sec .right-cart-list li .promo-list li { float: left; margin: 0; padding: 0; width: 100%; border-bottom: none; }
.right-cart-sec .right-cart-list li .promo-list li .form-control { background-color: #fff; border: 1px solid #B8BBC5; border-radius: 40px; color: #002855; float: left; font-size: 15px; font-weight: 400; height: 56px; line-height: 54px; margin-bottom: 0; margin-top: 0; padding: 0 122px 0 24px; }
.right-cart-sec .right-cart-list li .promo-list li .btn { background: #002855; border: none; border-radius: 30px; float: right; font-size: 18px; font-weight: 500; letter-spacing: 0.09px; margin-right: 5px; margin-top: -51px; padding: 9.5px 32px; text-transform: capitalize; }
.right-cart-sec .right-cart-list li .promo-list li .btn:focus { box-shadow: none; }
.right-cart-sec .right-cart-list li .order-table { margin-bottom: 0; }
.right-cart-sec .right-cart-list li .order-table th { border-bottom: 1px solid #D5D5D5; border-top: none; color: #002855; font-size: 18px; font-weight: 400; line-height: 24px; padding: 20px 0 20px 0; }
.right-cart-sec .right-cart-list li .order-table th strong { font-weight: 600; }
.right-cart-sec .right-cart-list li .order-table tr:last-child th { border-bottom: none; }
.right-cart-sec .right-cart-list li .order-table td { border-bottom: 1px solid #D5D5D5; border-top: none; color: #002855; font-size: 18px; font-weight: 400; line-height: 24px; padding: 20px 0 20px 0; text-align: right; }
.right-cart-sec .right-cart-list li .order-table tr:last-child td { border-bottom: none; }

.right-cart-sec .right-cart-list li .offer-list { float: left; list-style: none; margin: 20px 0 0 0; padding: 15px 0 0 0; width: 100%; border-top: 1px solid #D5D5D5;}
.right-cart-sec .right-cart-list li .gift-list { float: left; list-style: none; margin: 20px 0 0 0; padding: 15px 0 0 0; width: 100%; border-top: 1px solid #D5D5D5;}
.right-cart-sec .right-cart-list li .offer-list li { float: left; margin: 0; padding: 0 0 15px 0; width: 100%; border-bottom: none; }
.right-cart-sec .right-cart-list li .gift-list li { float: left; margin: 0; padding: 0 0 15px 0; width: 100%; border-bottom: none; }
.right-cart-sec .right-cart-list li .offer-list li .btn-primary { background: #002855; border: 2px solid #002855; border-radius: 30px; font-size: 18px; font-weight: 500; letter-spacing: 0.09px; padding: 9.5px 32px;  }
.right-cart-sec .right-cart-list li .offer-list li .btn-primary:hover { background: #fff; color: #002855; text-decoration: none; }
.right-cart-sec .right-cart-list li .gift-list li .btn-primary { background: #002855; border: 2px solid #002855; border-radius: 30px; font-size: 18px; font-weight: 500; letter-spacing: 0.09px; padding: 9.5px 32px;  }
.right-cart-sec .right-cart-list li .gift-list li .btn-primary:hover { background: #fff; color: #002855; text-decoration: none;}
.right-cart-sec .right-cart-list li .gift-list li .btn-default { background: #fff; color: #002855; border: 2px solid #002855; border-radius: 30px; font-size: 18px; font-weight: 500; letter-spacing: 0.09px; padding: 9.5px 32px;  }
.right-cart-sec .right-cart-list li .gift-list li .btn-default:hover { background: #002855; color: #FFFFFF; text-decoration: none; }
.offers-content { display:flex; flex-direction: column; margin-bottom:50px; }
.offers-header { padding-bottom: 15px; color: #002855; font-size: 16px; font-weight: 600; line-height: 24px;}
.offers-footer { display: flex; justify-content: flex-end;}
.offer { display: flex;align-items: center;margin-bottom:5px;}
.offer span { margin-left:5px; margin-right:5px; color: #002855; font-size: 16px; font-weight: 400; line-height: 24px;}
.offer-left-section { display: flex;}
.gifts-header { padding-bottom: 15px; color: #002855; font-size: 16px; font-weight: 600; line-height: 24px;}
.gifts-content { max-height: 250px;overflow-x: hidden; }
.gifts-footer { display: flex; justify-content: space-around; }
.gift { display: flex; align-items: center; margin-bottom:5px; cursor: pointer;}
.gift span { color: #002855; font-size: 14px; font-weight: 400; line-height: 24px;}
.gift span.gift-image { margin-left:5px; margin-right:5px; color: #002855; font-size: 12px; font-weight: 600; line-height: 24px;}
.gift-left-section { display: flex;}
.right-cart-sec .right-cart-list li .gift-list li.gifts .gifts-content span img { height: 75px; object-fit: contain; width: 75px; }
.cart-bottom-banner { background-image: url(../img/cart-body-banner-img-min.png); }
/*================================== Cart Body End ==================================*/

/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and (max-width: 991px) {
.cart-sec { padding-bottom: 0; padding-top: 40px; }    
.cart-sec h3 { font-size: 28px; margin-bottom: 10px; text-align: center; }
.cart-sec h4 { font-size: 16px; text-align: center; }

.left-cart-sec .cart-list li .card { padding: 14px; }
.left-cart-sec .cart-list li .card .mobile-cart-box { float: left; }
.left-cart-sec .cart-list li .card .mobile-cart-box .product-img-sec { float: left; margin: 0 0 10px 0; padding: 0; width: 100%; }
.left-cart-sec .cart-list li .card .mobile-cart-box .product-img-sec img { height: auto; max-width: 116px; width: auto; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-dec-sec { float: left; margin: 0 0 20px 0; padding: 0; width: 100%; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-dec-sec h3 { color: #002855; font-size: 18px; font-weight: 400; margin: 0 0 5px 0; text-align: left; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-dec-sec p { color: #002855; font-size: 14px; font-weight: 400; margin: 0; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-dec-sec p strong { font-weight: 500; }
.left-cart-sec .cart-list li .card .mobile-cart-box .qnty-sec { float: left; margin: 0; padding: 0; width: 100%; }
.left-cart-sec .cart-list li .card .mobile-cart-box .qnty-sec .qty-text-span { color: #002855; float: left; font-size: 12.044px; font-weight: 400; line-height: 39px; margin-right: 12px; }
.left-cart-sec .cart-list li .card .mobile-cart-box .qnty-sec .price-spna { color: #002855; font-size: 21.199px; font-weight: 600; line-height: 39px; margin-left: 12px; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec { float: left; margin: 0; padding: 0; width: 100%; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li .quantity-text { border: none; border-radius: 0; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li { margin-right: 11px; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li:last-child { margin-right: 0; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li .quantity-text { padding: 0; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li .quantity-text a { border: 0.826px solid #CACACA; border-radius: 24.785px; color: #002855; font-size: 10px; letter-spacing: 0.05px; padding: 0 19.828px; }

.left-cart-sec .btn-button-list li .btn-primary { line-height: 20px; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }
.left-cart-sec .btn-button-list li .btn-default { line-height: 20px; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }
.right-cart-sec .white-inner-sec { padding: 22.612px 22.613px 0 22.611px; }
.right-cart-sec .right-cart-list { margin-bottom: 0; }
.right-cart-sec .right-cart-list li:last-child { margin-bottom: 0; padding-bottom: 0; }
.right-cart-sec .right-cart-list li .heading-table th h4 { font-size: 12px; margin-bottom: 0; text-align: left; }
.right-cart-sec .right-cart-list li .heading-table th p { font-size: 12px; }
.right-cart-sec .right-cart-list li h5 { font-size: 16.959px; }
.right-cart-sec .right-cart-list li .form-control { font-size: 12px; height: 40px; line-height: 38px; }
.right-cart-sec .right-cart-list li .promo-list li .form-control { font-size: 12px; height: 40px; line-height: 38px; }
.right-cart-sec .right-cart-list li .promo-list li .btn { font-size: 13px; line-height: 30px; padding: 0 22.612px; margin-top: -34px; }
.right-cart-sec .right-cart-list li .order-table th { font-size: 12px; }
.right-cart-sec .right-cart-list li .order-table td { font-size: 12px; }

.arrivalMain { padding-bottom: 0; }

.cart-bottom-banner { display: none !important; }

.relatedDiv { margin-top: 50px; }
.relatedDiv .hdn { font-size: 22px; margin-bottom: 0; }
.relatedSlider { margin-top: 30px; padding-left: 0; padding-right: 0; }  
.relatedSlider .owl-nav button { border-radius: 0; height: 24px; margin: 0; position: absolute; top: 40%; width: 24px; }
.relatedSlider .owl-nav button span { display: none; }
.relatedSlider .owl-nav .owl-prev { background: url(../img/left-slider-arrow.svg) no-repeat 0 0 !important; left: 10px; }
.relatedSlider .owl-nav .owl-next { background: url(../img/right-slider-arrow.svg) no-repeat 0 0 !important; right: 10px; }
}

@media screen and (max-width: 767px) {
.bottom-buttons-section { padding-bottom: 157px; position: relative; }  
.left-cart-sec { position: static; }
.left-cart-sec .btn-button-list { bottom: 0; left: 0; position: absolute; }  
.left-cart-sec .btn-button-list li .btn-primary { line-height: 52px; padding-bottom: 0; padding-top: 0; }
.left-cart-sec .btn-button-list li .btn-default { line-height: 52px; padding-bottom: 0; padding-top: 0; }    
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li { margin-right: 10px; }
.left-cart-sec .cart-list li .card .mobile-cart-box .cart-item-bottom-sec .size-list li .quantity-text a { padding: 0 18px; }

.right-cart-sec { margin-bottom: 30px; }
}